.login__container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: hidden;
  background-color: #f8f8f8;

  .login__content {
    position: absolute;
    top: 45%;
    left: 50%;
    margin: -160px 0 0 -160px;
    width: 320px;
    height: 320px;
    padding: 36px;
    box-shadow: 0 0 100px rgba(0, 0, 0, .08);

    .login__header {
      text-decoration: none;
      text-align: center;
      margin-bottom: 26px;

      img {
        width: 35px;
        vertical-align: top;
        margin-right: 16px;
      }

      span {
        font-size: 16px;
        color: rgba(0, 0, 0, .85);
        font-weight: 700;
        position: relative;
        top: 5px;
      }
    }

    .login__form {
      margin: 0 auto;
      width: 248px;

      .login__btn {
        width: 100%;
      }
    }
  }
}

.login__footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}